@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}


body{
    background:#EBF1F5;
    min-height:100vh;
}


.site-footer {  /*fundo + cor da letras + letras  */

  background-color: #214f82;
  color: #ffffff;
   font-family: "Poppins", sans-serif;
}

.footer-container { /*deixar os text centralizados   */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 50px;
}

.footer-left { /* deixar os items a esquerda */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo { /* tamanho da logo + margin para baixo  */
  height: 170px; 
  width: auto;
  margin-bottom: 10px;
}

.app-text { /*  text abaixo da img*/
  color:#fc871a;
  font-style: italic;
  margin: 0;
  font-size: 16px;
}

.playstore-btn { /*tamanho do playstore  */
  height: 45px; 
}


.footer-right { /* deixar os items a direita */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 700px;
  gap: 30px;
}

.footer-menus { /* deixar responsivel os text */
  display: flex;
  justify-content: space-between;
}

.menu-col h4 { /* estilizar o texts com <h4> */
  color: #fc871a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0;
}

.menu-col ul { /* margin nos texts  */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-col li { /* margin nos text afetando o retangulo para baixo */
  margin-bottom: 10px;
}

.menu-col a { /* estilizando os text */
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

.menu-col a:hover { /* efeito de click */
  text-decoration: underline;
}

.legal-box {  /*estilizando o retangulo   */
  background-color:#ffffff;
  border-radius: 4px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  gap: 100px;
  
}

.legal-box a { /* estilizando text */
  color: #fc871a;
  font-weight: bold;
  text-decoration: none;
}

.legal-box a:hover { /* efeito click */
  text-decoration: underline;
}


.footer-bottom { /* barra de copyright */
  background-color: #36659c;
  text-align: center;
  padding: 12px 20px;
}

.footer-bottom p { /*estilizando text  */
  margin: 0;
  font-size: 14px;
  color: #e0e0e0;
}


@media (max-width: 768px) { /* para deixar o footer responsivel a tela incurtada */
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-menus {
    flex-direction: column;
    gap: 30px;
  }
  .legal-box {
    flex-direction: column;
    gap: 15px;
  }
}



   


.nav-links {
    display: flex;
    list-style: none;
    gap: 55px;
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: .2s;
}

.nav-links a:hover {
    color: #fc871a;
}
